<div class="col-md-12">
  <% if SystemSetting.first.can_recharge %>
    <iframe src="http://pay2.58eq.cn/pay/?appid=2017111245&payno=<%= current_user.id %>&pt=pc&back_url=http://www.qmbug.com/recharge_records/new?target=_self" id="myiframe" scrolling="no"
      width="100%" height="350"  frameborder="0"></iframe>
  <% else %>
    <div class="can-not-recharge">
      维护中，暂时不能充值！
    </div>
  <% end %>
</div>
