<%= render "cards/header" %>
<div class="container theme-showcase" role="main">
  <div class="jumbotron site-tip">
    <h3>Welcome!</h3>
    <p>你是否有一个梦想，想去那些风景秀丽、悠远而静谧的地方去走走看看，世界这么大，我也希望能去看看。我想提供一个平台，这里你可以将那些悠远静谧之地的的美景分享给那些和你一样热爱山水的人，
      在这里你可以将你的旅行故事写下来，分享给他人！</p>
  </div>
</div>
