<style>
  .well2{
    height: auto;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);*/
    /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);*/
  }
</style>
<%= render 'header' %>

<div class="container theme-showcase" role="main">
  <div class="page-header">
    <h1>租张卡</h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="well">
        <table class="table">
          <tr>
            <td>出发城市</td>
            <td>DDD</td>
          </tr>
          <tr>
            <td>到达城市</td>
            <td>DDD</td>
          </tr>
          <tr>
            <td>到达日期</td>
            <td>DDD</td>
          </tr>
          <tr>
            <td>出行方式</td>
            <td>DDD</td>
          </tr>
          <tr>
            <td>航班</td>
            <td>DDD</td>
          </tr>
          <tr>
            <td>便利卡数量</td>
            <td>DDD</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-md-6">
      <div class="list-group">
        <p class="list-group-item active">
          Cras justo odio
        </p>
        <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
        <a href="#" class="list-group-item">Morbi leo risus</a>
        <a href="#" class="list-group-item">Porta ac consectetur ac</a>
        <a href="#" class="list-group-item">Vestibulum at eros</a>
      </div>
    </div>
  </div>
</div>
