@import "bootstrap.min";
@import "font-awesome";
@import "ionicons.min";
@import "AdminLTE.min";
@import "skin-blue";
@import "will_paginate";
@import "all";
@import "admins";
@import "bootstrap-toggle.min";
@import 'bootstrap-datetimepicker.min';
@import "select2.min";

a, a:link, a:visited{
  text-decoration: none;
}

.padding-left-none{
  padding-left: 0px ;
}

.padding-right-none{
  padding-right: 0px;
}

.border-none{
  border: none;
}

img.rucaptcha-image{
  cursor: pointer;
}

.green-color{
  color: green;
}
.red-color{
  color: red;
}

.make-line{
  margin-top: 4px;
}

.flash-error{
  color: red;
}

.flash-notice{
  color: green;
}

.notice{
  color: red;
}

.one-col-td,
.one-col-th{
  min-width: 50px;
}
.two-col-td,
.two-col-th{
  width: auto;
}

.status-td,
.status-th{
  min-width: 160px;
  max-width: 200px;
}

.order-id-td,
.order-id-th{
  width: 75px;
}

.same-width{
  width: 160px;
  word-break: break-all;
}

#alert-notice .modal-footer{
  border: none !important;
}

#alert-notice .notice-item{
  border-top: none !important;
  border-bottom: 1px solid #170b0b;
}

.navbar-in-header{
  width: auto;
  height: 100%;
  text-align: center;
  padding: 15px;
  float: right;
  color: #ffffff;
}

.link_active{
  color: green;
}

.goods-remark{
  margin-top: 5px;
}

.cache_button{
  margin-top: 20px;
  margin-bottom: 20px;
}

.alert-success{
  background-color: #d2d6de !important;
  border-color: #d2d6de !important;
}

button.cache-button{
  a{
    color: #333;
  }
}

textarea#multiple_order{
  margin-bottom: 7px;
}

.order-create-action{
  margin-bottom: 30px;
  padding-left: 335px;
}

.can-not-recharge{
  height: 265px;
  margin: 0 auto;
  border: 1px solid #C8D6FD;
  padding-top: 90px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  font-size: 26px;
  text-align: center;
}
