@import "bootstrap.min";
@import "font-awesome";
@import "ionicons.min";
@import "AdminLTE.min";
@import "skin-blue";
@import "will_paginate";
@import "all";
@import "admins";
@import "bootstrap-toggle.min";
@import 'bootstrap-datetimepicker.min';
@import "select2.min";

a, a:link, a:visited{
  text-decoration: none;
}

.padding-left-none{
  padding-left: 0px ;
}

.padding-right-none{
  padding-right: 0px;
}

.border-none{
  border: none;
}

img.rucaptcha-image{
  cursor: pointer;
}
