<div id="cache-button-list">
</div>


<style>
.close-cache-button:hover{
    color: red;
}
</style>

<script>
  cache_button_list = sessionStorage.getItem('cache_button_list');
  if (cache_button_list) {
    cache_button_arr = cache_button_list.split(',');
    for (let button of cache_button_arr){
      $('#cache-button-list').append(button);
    }
  }

  $('.close-cache-button').on('click', function(){
    var link = $(this).attr('key');
    $(this).parent('button.cache-button').remove();
    links_arr = sessionStorage.getItem('links_list').split(',');
    buttons_arr = sessionStorage.getItem('cache_button_list').split(',');
    index = links_arr.indexOf(link);
    buttons_arr.splice(index, 1);
    links_arr.splice(index, 1);
    sessionStorage.setItem('cache_button_list', buttons_arr);
    sessionStorage.setItem('links_list', links_arr);
  });
</script>
