<!DOCTYPE html>
<html>
  <head>
    <title>零点网络</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="hold-transition register-page">
    <%= yield %>
  </body>
</html>
